html {
    font-family: sans-serif;
    --primary: #EB6C27;
    --text: #3a3a3a;
    --bg: #FFFFFF;
    --text--gray: #888888;
    color: var(--text);
}
body {
    max-width: 1920px;
    margin: 0;
}
.nav {
    display: flex;
    justify-content: space-between;
    height: 53px;
    background-color: var(--bg);
    align-items: center;
    padding: 10px;
}
@media (min-width: 768px) {
    .nav__menu--hidden {
        display: none;
    }
}

.nav__logo {
    width: 127px;
    height: 44px;
}

.nav-hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
b {
    color: var(--primary);
}

.main-header {
    display: flex;
    width: 100%;
    height: 269px;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url(./media/pageheader-1920w.jpg);
    justify-content: space-between;
    background-position: center;
    background-size: cover;
    background-blend-mode: normal, normal, hue, normal;
    margin-bottom: 55px;
}
.title {
    text-align: center;
}
.title > *{
    color: var(--bg);
    font-family: sans-serif;
    margin-bottom: 20px;
}
.nav-hamburger-line {
    width: 46px;
    height: 8px;
    background-image: linear-gradient(90deg, var(--primary), #FFBE9A);
}

.nav-hamburger-text {
    font-family: sans-serif;
    color: var(--text--gray);
    font-size: 12px;
}

.footer {
    background-color: var(--primary);
    width: 100%;
    height: 263px;
}

.button {
    background-color: var(--bg);
    color: var(--primary);
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    margin: 0px 21px;
    margin-bottom: 80px;
}
.služby {
    margin: 0px 20px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr;
}
.služby__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.img--right {
    border-radius: 0px 0px 40px 0px;
}

.img--left {
    border-radius: 0px 0px 0px 40px;
}
.služby--button {
    width: 90px;
    height: 17px;
    border-color: var(--primary);
    color: var(--primary);
    padding: 10px;
}

.důvěra {
    display: flex;
    flex-direction: column;
    height: 189px;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(./media/background-CTAblock-4460w.jpg);
    background-position: center;
    background-size: cover;
    gap: 20px;
    padding: 10px;
}
.orange--button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
    gap: 10px;
    color: var(--bg);
    width: 173px;
    height: 41px;
    text-decoration: none;
    background: var(--primary);

}

.text--white {
    color: var(--bg);
}

.reference {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger-menu-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary);
    padding: 10px;
}
