html {
    font-family: sans-serif;
    --primary: #EB6C27;
    --text: #3a3a3a;
    --bg: #FFFFFF;
    --text--gray: #888888;
    color: var(--text);
}
body {
    max-width: 1920px;
    margin: 0;
}
p {
    color: var(--text);
}
.nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--bg);
    align-items: center;
    padding: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}
.text--orange {
    color: var(--primary);
}

.header {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url(../media/pageheader-1920w.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: normal, normal, hue, normal;
    justify-content: space-between;
}

.header__body {
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.header__icon {
    width: 1em;
    height: 1em;
}

.text--center {
    text-align: center;
}

.text--header {
    font-weight: 300;
    display: block;
    font-size: 15px;
}

.text--white {
    color: var(--bg);
}

.text--decoration {
    text-decoration: none;
}

.nav-hamburger-line {
    width: 46px;
    height: 8px;
    background-image: linear-gradient(90deg, var(--primary), #FFBE9A);
}

.nav-hamburger-text {
    font-family: sans-serif;
    color: var(--text--gray);
    font-size: 12px;
}

.footer {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    background-color: var(--bg);
    color: var(--primary);
    padding: 12px 40px;
    text-decoration: none;
}

.button--orange {
    color: var(--bg);
    background: var(--primary);
}

.button--dashed {
    border: 1px dashed var(--primary);
}

.button--invisible {
    display: none;
}

.sluzby {
    gap: 30px;
    display: flex;
    flex-direction: column;
}
.padding {
    padding: 20px;
}
.sluzby__text {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sluzby__header {
    max-width: 900px;
    margin: 0 auto;
}

.sluzby__article {
    display: flex;
    gap: 10px;
    flex-direction: column-reverse;
}



.img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    margin: 0;
    padding: 0;
}
.img--right {
    border-radius: 0px 0px 40px 0px;
    max-height: 20em;
}

.img--left {
    border-radius: 0px 0px 0px 20px;
    max-height: 20em;
}

.reference__info {
    display: flex;
    flex-direction: column;
}


.duvera {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)), linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(../media/background-CTAblock-4460w.jpg);
    background-position: center;
    background-size: cover;
    align-items: flex-start;
}

.reference {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
}
.reference__item {
    text-decoration: none;
    color: var(--text);
}

menu.active {
    display: flex;
}

.nav__menu {
    display: none;
    flex-direction: column;
    list-style: none;
    gap: 1em;
    background-color: var(--primary);
    position: absolute;
    top: 70px;
    left: 10px;
    right: 10px;
}

.nav__item__link {
    color: var(--bg);
}

.nav__item--active {
    font-weight: 900;
}

menu.active::before {
    content: "";
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 20px solid var(--primary);
    top: -20px;
    right: 0.5em;
    position: absolute;
}

.marker--orange::marker {
    color: var(--primary);
}

.contacts-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.icon {
    width: 2em;
    height: 2em;
    background-color: var(--primary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form__item__input {
    border: 1px solid var(--primary);
    padding: 10px;
    background-color: var(--bg);
}

@media (min-width: 760px) {
    
}

@media (max-width: 960px) and (orientation: landscape) {
    
}
@media (min-width: 961px) {

}

@media (min-width: 1281px) {
    .button--invisible {
        display: flex;
        gap: 1em;
        justify-content: center;
        align-items: center;
    }
    .sluzby__header {
        text-align: center;
    }

    .nav {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        padding: 0;
        margin: 0;
    }
    .menu {
        display: none;
    }

    .nav__menu {
        display: flex;
        flex-direction: row;
        position: unset;
        gap: 0;
        background-color: var(--bg);
        margin: 0;
        padding: 0;
    }
    .nav__item--active a {
        color: var(--bg);
    }

    .nav__item__link {
        color: var(--text);
        text-decoration: none;
    }

    .nav__item--active {
        background-color: var(--primary);
        color: var(--bg);
    }

    .nav__item {
        padding: 20px 15px;
    }

    .header {
        position: relative;
        height: 100vh;
        display: flex;
    }
    .header__body {
        height: 100vh;
    }

    .header--invisible {
        height: 100px;
    }
    .sluzby__article {
        flex-direction: row;
    }
    .sluzby__article:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .sluzby__article__aside {
        flex-basis: 50%;
        flex-shrink: 0;
        flex-grow: 1;
    }

    .reference__images article:hover{
        background-color: var(--primary);
    }
    h2 {
        font-size: 3.5rem;
    }

    .reference {
        grid-template-columns: repeat(3, 1fr);
    }
    .reference__item {
        position: relative;
    }
    .reference p {
        color: var(--bg);
    }

    .reference__item:hover .reference__info {
        display: flex;
        background-color: var(--primary);
        opacity: 0.8;
      }
      
      .reference__info {
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: center;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        color: var(--bg);
      }

}